*{
	box-sizing: border-box;
}
.container-fluid{
	background: #313131;
	padding: 20px 50px;
}
.navbar-brand{
	color: #fff;
	padding: 2px 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 2em;
}
.navbar-dark:hover, .navbar-brand:hover{
	color: #313131 !important;
	background: #fff;
	border: none;
	border-radius: 5px;
}
#navbarcontent{
	color: #fff;
}


.nav-link{
	color: #fff;
	font-family: "times new roman";
}

.content{
	padding: 20px 60px;
}

#our-menu{
	font-weight: 600;
}	

.section{
	margin: 10px 5px;
	color: #fff;
	background: #313131;
}
.section p {
	padding: 10px 15px;
}
 h1, .section h3, .section a{
	font-family: 'Klee One', cursive;

}
