*{
	box-sizing: border-box;
}
.container-fluid{
	background: #313131;
	padding: 20px 40px;
}
.navbar-brand {
	color: #fff;
	padding: 2px 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 2em;
	float: left;
}
.navbar-dark:hover, .navbar-brand:hover{
	color: #313131 !important;
	background: #fff;
	border: none;
	border-radius: 5px;
}

.navbar-dark .navbar-nav .nav-link {
	color: #F0F0F0;
}

#navbarcontent{
	color: #fff;
}

#top .section{
	background: #0887B4 ;
}
#top a{
	color: white;
}
.nav-link{
	color: #fff;
	font-family: "times new roman";
}

.navbar-nav{
	background: #ffffff2b;
	font-size: 1.3em;
}

.navbar-nav a, .nav-link a, .navbar-dark a{
    border: 2px #fff;
}	

.content{
	padding: 10px 20px;
}

#our-menu{
	font-weight: 600;
}	

.section{
	margin: 10px 5px;
	color: #fff;
}
 #Chicken .section, #sushi .section, #beef .section{
	background: #313131;
}
.section p {
	padding: 10px 15px;
}
 h1, .section h3, .section a{
	font-family: 'Klee One', cursive;

}
